<h1>List</h1>

<h2><%= @list.name %></h2>
<ul>
<% @list.movies.each do |movie| %>
<li> <%= movie.title %> </li>
<% end %>
</ul>
<p> <%= link_to "Add new movie to list", new_list_bookmark_path(@list) %> </p>
